menu "POSIX layer and C standard library"

config RT_USING_LIBC
    bool "Enable libc APIs from toolchain"
    select RT_USING_MINILIBC
    default y
    
    if RT_USING_LIBC
    config RT_USING_MINILIBC
        bool "Enable minilibc"
        default y
    endif

if RT_USING_LIBC && RT_USING_DFS
    config RT_USING_POSIX
        bool "Enable POSIX layer for poll/select, stdin etc"
        select RT_USING_DFS_DEVFS
        select RT_USING_DEVICE_IPC
        default y

    if RT_USING_POSIX
    config RT_USING_POSIX_AIO
        bool "Enable AIO"
        default n
    endif
endif

endmenu
